{% extends "layout.html" %}

{% block title%}
    Chitter
{% endblock %}
    

{% block main %}
        <a class="bg-dark" href="/make_post" style="size: 24sp; margin: 5px; padding: 3px;">Make a Post</a>

        
        {% for peep in peeps %}
            <div class="peep_box">
                <p>{{peep.content}}</p>
                <!--Change format of date-->
                <footer class="timestamp">{{peep.time_of_post}}</footer>
                
                
            </div>
        {% endfor %}
{% endblock %}